{% extends 'layout/default_beer.twig' %}

{% block body %}

<section id='profile_section' class="container mt-5">
    <h1>{{ page }}</h1>
    <article class="row">
        <div class="list-group mb-5">
            {% for order in orders %}
            <a href="commandes/{{ order.token }}" class="list-group-item list-group-item-action flex-column align-items-start">
                <div class="d-flex w-100 justify-content-between">
                    <h5 class="mb-1">Commande n°: {{ order.id }} d'un montant de {{ (order.priceTTC+order.port)|number_format(2,",",".") }} €</h5>
                </div>
                <p class="mb-1">{{ userinfo.lastname }}</p>
            </a>
            {% endfor %}
        </div>
    </article>
</section>

{% endblock %}