{% extends 'layout/default_beer.twig' %}

{% block body %}
<h1 class="titreduhaut text-center mt-5">Récapitulatif de commande</h1>
<section id="commandSection" class="container">
	<table class="table table-striped">
		<thead>
			<tr>
				<th>Nomination</th>
				<th>Prix HT</th>
				<th>Prix TTC</th>
				<th>Quantité</th>
				<th>Total TTC</th>
			</tr>
		</thead>
		<tbody>
			{% for line in lignes %}
				<tr>
					<td name="{{ line.title }}">{{ line.title }}</td>
					<td>{{ line.beerpriceHT|number_format(2, ',', '.') }}€</td>
					<td>{{ (line.beerpriceHT * constant.TVA)|number_format(2, ',', '.') }}€</td>
					<td id="qty">{{ line.beerQty }}</td>
					<td>{{ ((line.beerpriceHT * constant.TVA) * line.beerQty)|number_format(2, ',', '.') }}€</td>
				</tr>
			{% endfor %}
			<tr>
				<td><em>Port :</em></td>
				<td></td>
				<td></td>
				<td></td>
				<td><em>{{ port|number_format(2, ',', '.') }}€</em></td>
			</tr>
			<tr>
				<td><strong>Total TTC :</strong></td>
				<td></td>
				<td></td>
				<td></td>
				<td><strong>{{ (order.priceHT*constant.TVA+port)|number_format(2, ',', '.') }}€</strong></td>
			</tr>
			
		</tbody>
	</table>
	
</section>
{% endblock %}