{% extends 'layout/default_beer.twig' %}

{% block body %}
<form method="POST" action="" id="formPurchase" class="container mt-5 mb-5">
	<h1 class="text-center">Bon de commande</h1>
	{% if addresses  is empty %}
		<p class="text-center">Veuillez ajouter une adresse sur votre <a href="/user/profile">profil</a> avant de commander.</p>
		<br/>
	{% endif %}
	<div class="row mb-5 justify-content-center">
		<h3> Adresse de Livraison : </h3>
		<select class="form-control card col-md-3 m-1 text-center choix" name="voie" id="address">
		{% for address in addresses %}
			<option value="{{ address.id }}">
				<div id="div{{ address.id }}">
					<div class="card-body">
						<h5 class="card-title" id="nom">{{ address.firstname }} {{ address.lastname }}</h5>
						<p class="card-text" id="adresse">{{ address.address }}</p>
						<p class="card-text" id="zipCode">{{ address.zipcode }} {{ address.city }}</p>
						<p class="card-text" id="country">  {{ address.country }} </p>
						{# <form method="POST" action="#" id="formPurchase" class="container mt-5 mb-5">
							<input type="hidden" name="id" value="{{ address.id }}" />
							<input type="hidden" name="user_id" value="{{ address.userId }}" />
							<button type="button" onclick="chooseAddress({{ address.id }}, {{ address.userId }})" class="btn btn-primary">Choisir</button>
						</form> #}
					</div>
				</div>
			</option>
		{% endfor %}
		</select>
	</div>
	<table class="table table-striped">
		<thead>
			<tr>
				<th>Nomination</th>
				<th>Prix HT</th>
				<th>Prix TTC</th>
				<th>Quantité</th>
			</tr>
		</thead>
		<tbody>
			{% for key, beer in beers %}
				<tr>
					<td>{{ beer.title }}</td>
					<td id="PHT_{{ key }}">{{ beer.price|number_format(2, ',', '.') }}€</td>
					<td id="PTTC_{{ key }}">{{ (beer.price * constant.TVA)|number_format(2, ',', '.') }}€</td>
					<td><input class="form-control" type="number" min="0" name="qty[{{ beer.id }}]" value="0" oninput="calcPrice(this, {{ key }}, {{ beer.price }});" /></td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
	<button class="btn btn-primary" type="submit">COMMANDER</button>
</form>
{% endblock %}