{% extends 'layout/default_beer.twig' %}
{% block body %}
<form method="POST" action="verify" id="formPurchase" class="container mt-5 mb-5">
	<table class="table table-striped">
		<thead>
			<tr>
				<th>Nomination</th>
				<th>Prix HT</th>
				<th>Prix TTC</th>
				<th>Quantité</th>
			</tr>
		</thead>
		<tbody>
			{% for key, beer in orderline %}
				<tr>
					<td>{{ beer.title }}</td>
					<td id="PHT_{{ key }}">{{ beer.beerprice|number_format(2, ',', '.') }}€</td>
					<td id="PTTC_{{ key }}">{{ (beer.beerprice * constant.TVA)|number_format(2, ',', '.') }}€</td>
					<td><input class="form-control" type="number" min="0" name="qty[{{ beer.id }}]" value="{{ beer.beerQty }}" oninput="calcPrice(this, {{ key }}, {{ beer.beerprice }});" /></td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
	<button class="btn btn-primary" type="submit">Valider panier</button>

{% endblock %}